@model EhbEvo.Models.Comment

@{
    ViewBag.Title = "Details";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Feed">Feed</a></li>
        <li class="breadcrumb-item"><a href="~/Feedback/Details/@Model.FeedbackId">FeedBack Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Commentaar Details</li>
    </ol>
</nav>
<h1 class="text-dark">Commentaar Details</h1>
<hr />
<div class="media mt-3">
    <img class="mr-3 feedimage" src="~/Content/images/comment.png">
    <div class="media-body">
        <h5 class="mt-0">@Model.Title - <small class="text-info">@Model.User.FirstName @Model.User.LastName</small><small> op </small><small class="text-secondary">@Model.Date</small></h5>
        @Html.Raw(Model.Content)
    </div>
</div><br />

<div class="card-footer postactionlinks">
    <span class="badge badge-pill badge-dark">@Html.ActionLink(linkText: "Ga terug naar Feedback", actionName: "Details", controllerName: "Feedback", routeValues: new { id = @Model.Feedback.Id }, htmlAttributes: null)</span>
</div>

