@model IEnumerable<EhbEvoApp.Models.Program>

@{
    ViewBag.Title = "Index";
}

<h2>Opleidingsbeheer</h2>

<p>
    @Html.ActionLink("Nieuwe opleiding", "Create")
</p>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramType)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramType)
        </td>
        <td>
            @if(!item.ProgramName.Equals("* Meerdere Opleidingen *"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ProgramId })<text> | </text>
            }
            @Html.ActionLink("Details", "Details", new { id = item.ProgramId })
            @if(!item.ProgramName.Equals("* Meerdere Opleidingen *"))
            {
                <text> | </text>@Html.ActionLink("Delete", "Delete", new { id = item.ProgramId })
            }
        </td>
    </tr>
}
</tbody>
</table>

<div class="card-footer postactionlinks">
    <span class="badge badge-pill badge-dark">@Html.ActionLink("Terug naar Adminpagina", "Index", "Admin")</span>
</div>
