@model EhbEvoApp.Models.IndexViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Gebruikersinstellingen";
}

<h2>Gebruikersinstellingen</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Gebruikersgegevens</h4>
    <dl class="dl-horizontal">
        <dt>Username:</dt>
        <dd>@ViewBag.User.UserName</dd>
        <dt>Voornaam:</dt>
        <dd>@ViewBag.User.FirstName</dd>
        <dt>Achternaam:</dt>
        <dd>@ViewBag.User.LastName</dd>
        <dt>Email:</dt>
        <dd>@ViewBag.User.Email</dd>
        <dt>Departement:</dt>
        <dd>@ViewBag.DepartmentName</dd>
        <dt>Opleiding:</dt>
        <dd>@ViewBag.ProgramName</dd>
        <dt>Bevoegdheid:</dt>
        <dd>
            @if(@System.Web.HttpContext.Current.User.IsInRole("Admin")){<text>Admin </text>}
            @if(@System.Web.HttpContext.Current.User.IsInRole("Opleidingshoofd")){<text>Opleidingshoofd </text>}
            @if(@System.Web.HttpContext.Current.User.IsInRole("Opleidingsmedewerker")){<text>Opleidingsmedewerker </text>}
            @if(@System.Web.HttpContext.Current.User.IsInRole("Docent")){<text>Docent </text>}
            @if(@System.Web.HttpContext.Current.User.IsInRole("Personeel")){<text>Personeel </text>}
        </dd>
        
    </dl>
    <h4>Pas je gebruikersinstellingen aan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Wachtwoord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Verander je wachtwoord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <!--
        <dt>External Logins:</dt>
        <dd>
            @@Model.Logins.Count [
            @@Html.ActionLink("Manage", "ManageLogins") ]
        </dd>-->
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <!--
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>-->
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        <!--</dd>-->
    </dl>
</div>
