@model IEnumerable<EhbEvo.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departementenbeheer</h2>

<p>
    @Html.ActionLink("Nieuw Departement", "Create")
</p>
<p>
    @Html.ActionLink("Opleiding koppelen", "AssignProgram")
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @if(!item.DepartmentName.Equals("* Meerdere Departmenten *"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId })<text> | </text>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId })
                    @if(!item.DepartmentName.Equals("* Meerdere Departmenten *"))
                    {
                        <text> | </text>@Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
                    }
                </td>
            </tr>


    }
    </tbody>
</table>

<div class="card-footer postactionlinks">
    <span class="badge badge-pill badge-dark">@Html.ActionLink("Terug naar Adminpagina", "Index", "Admin")</span>
</div>
