@model EhbEvo.Models.Comment
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Edit";
}
@Styles.Render("~/Content/summernote")
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Feed">EvoPanel</a></li>
        <li class="breadcrumb-item"><a href="~/@Model.Feedback.Post.PostCategory">@Model.Feedback.Post.PostCategory</a></li>
        <li class="breadcrumb-item"><a href="~/@Model.Feedback.Post.PostCategory/Details/@Model.Feedback.PostId">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bewerk Commentaar</li>
    </ol>
</nav>
<h2>Bewerk Commentaar</h2>
<hr />
<div class="media mt-3">
    <img class="mr-3 feedimage" src="~/Content/images/comment.png">
    <div class="media-body">
        <h5 class="mt-0">@Model.Title - <small class="text-info">@Model.User.FirstName @Model.User.LastName</small><small> op </small><small class="text-secondary">@Model.Date</small></h5>
        @Html.Raw(Model.Content)
    </div>
</div><hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" name="UserId" value="@Model.UserId" />
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="FeedbackId" value="@Model.FeedbackId" />
            @Html.ValidationMessageFor(model => model.FeedbackId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(model => model.Content), @class = "form-control input-lg textarea-editor" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Bewerk" class="btn btn-dark" />
            </div>
        </div>
    </div>
}
    <div class="card-footer postactionlinks">
        <span class="badge badge-pill badge-dark">@Html.ActionLink(linkText: "Ga terug naar Post", actionName: "Details", controllerName: @Model.Feedback.Post.PostCategory.ToString(), routeValues: new { id = @Model.Feedback.Post.Id }, htmlAttributes: null)</span>
    </div>

@section scripts{
    @Scripts.Render("~/js/summernote-convert.js")
}